.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  line-height: 1.25;
}

.markdown h1 {
  font-size: 2.5rem;
  border-bottom: 1.5px solid var(--cl-br);
}

.markdown h2 {
  font-size: 2rem;
}

.markdown h3 {
  font-size: 1.5rem;
}

.markdown h4 {
  font-size: 1.3rem;
}

.markdown p {
  font-size: 1.3rem;
  line-height: 1.25;
}

.markdown ul,
.markdown ol {
  font-size: 1.3rem;
  margin: 0 0 1em;
  padding-left: 2em;
}

.markdown li {
  margin: 0.25em 0;
}

.markdown blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;

  margin: 1em 0;
  padding: 0.5em 1em;
  border: 1.5px solid var(--cl-br);
  border-left: 4px solid var(--cl-ac);

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.markdown pre {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  tab-size: 2;

  padding: 1em;

  border: 1.5px solid var(--cl-br);
  border-radius: 5px;

  overflow: auto;

  background-color: #282C34;

  font-size: 1rem;

  margin: 1rem;
}

.markdown code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: inline-flex;
  tab-size: 2;

  padding: 5px;
  border-radius: 5px;

  overflow: auto;

  background-color: #282C34;

  font-size: 1rem;

  color: #ABB2BF;

  width: fit-content;
}

.markdown hr {
  border: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1.5px solid var(--cl-br);
}

.markdown strong {
  font-weight: 700;
}

.markdown em {
  font-style: italic;
}

.markdown a {
  color: var(--cl-ac);
  font-size: 1.3rem;
}